.button {
    -fx-padding: 20;
    -fx-alignment: center;
}

.label {
     -fx-alignment: center;
}

.itemInfoLayout {
   -fx-background-color: white;
   -fx-padding: 10;
   -fx-border-style: solid inside;
   -fx-border-width: 2;
   -fx-border-insets: 5;
   -fx-border-radius: 5;
   -fx-border-color: blue;
}

.itemInfoLayout .`imageView {
    -fx-alignment: center;
}

